<div class="card card-plain">
  <div *ngIf="title || subtitle" class="card-header card-header-primary">
    <h4 *ngIf="title" class="card-title mt-0">{{ title }}</h4>
    <p *ngIf="subtitle" class="card-category">{{ subtitle }}</p>
  </div>
  <div class="card-body">
    <!-- top pagination: start -->
    <pagination
      class="pagination justify-content-end"
      [totalItems]="paginate.totalItems"
      [itemsPerPage]="paginate.itemsPerPage"
      [(ngModel)]="paginate.page">
    </pagination>
    <!-- top pagination: end -->

    <!-- data table: start -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="text-primary">
          <th *ngFor="let header of headers">
            <span (click)="orderBy(header.field)">{{ header.label }}</span>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let datum of data | slice:paginate.begin:paginate.end; let i = index;">
            <td *ngFor="let header of headers" [ngSwitch]="header.field">
              <ng-container *ngSwitchCase="SEQ">
                {{ paginate.begin + 1 + i }}
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ datum[header.field] }}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- data table: end -->

      <!-- bottom pagination: start -->
      <nav aria-label="Users">
        <ul class="pagination justify-content-end">

          <!-- previous: start -->
          <li class="page-item">
            <a class="page-link" tabindex="-1" (click)="paginate.previous()">Previous</a>
          </li>
          <!-- previous: end -->

          <li *ngFor="let page of paginate.pages" class="page-item" [ngClass]="{'active': paginate.page === page}"
            (click)="this.paginate.page = page">
            <a class="page-link">{{ page }}</a>
          </li>

          <!-- next: start -->
          <li class="page-item">
            <a class="page-link" (click)="paginate.next()">Next</a>
          </li>
          <!-- next: end -->
        </ul>
      </nav>
      <!-- bottom pagination: end -->

    </div>
  </div>
</div>
